body{
    background-color: #0056A6;
    color:#F0F8FF;
    font-size: 20px;
}
h1{
    color: black;
    text-align: center;
}
.table{
    margin: 40px auto;
    width: 80%;
    height:500px;
    border-collapse: separate;
    margin-top: 40px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.953);
}
.table th, td{
    padding: 15px;
    border: solid #0056A6 ;
    box-shadow: 0 8px 15px rgba(12, 12, 12, 0.953);


}
.table th{
 background-color: #fbbc47;
 
}
.table tr:nth-child(even){
    background-color: rgb(148, 204, 37);
}
.table tr:nth-child(odd){
    background-color:rgb(218, 218, 48);
}
